In [91]:
import pandas as pd
from src import getSeasonResults
import numpy as np

In [92]:
season_results = getSeasonResults.getSeasonResults()
df = pd.DataFrame(season_results)

# retrieve the list of driver results for each race and flatten it into a dataframe
df = (pd.concat({r: pd.json_normalize(d) for r, d in df.pop('result').items()})
        .reset_index(level=1, drop=True)
        .join(df)
        .reset_index(drop=True))

df.to_json("data/results_detailed.json",orient="records")

In [112]:
df

   number position points          Driver season round            raceName
0      16        1     26         leclerc   2022     1  Bahrain Grand Prix
1      10       20      0           gasly   2022     1  Bahrain Grand Prix
2       1       19      0  max_verstappen   2022     1  Bahrain Grand Prix
3      11       18      0           perez   2022     1  Bahrain Grand Prix
4      27       17      0      hulkenberg   2022     1  Bahrain Grand Prix
..    ...      ...    ...             ...    ...   ...                 ...
95     16        2     18         leclerc   2022     5    Miami Grand Prix
96      1        1     26  max_verstappen   2022     5    Miami Grand Prix
97      4       19      0          norris   2022     5    Miami Grand Prix
98     23        9      2           albon   2022     5    Miami Grand Prix
99     24       20      0            zhou   2022     5    Miami Grand Prix

[100 rows x 7 columns]

In [120]:
data = df.sort_values(['round']).reset_index(drop=True)
data["cum_points"] = data.groupby(['Driver'])['points'].cumsum(axis=0)

AttributeError: 'SeriesGroupBy' object has no attribute 'to_numpy'

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001B2B1F8FC10>